<div class="container mt-4">
    <div class="row">
        <div class="p-0 px-md-2 col-md-4">
            <div class="card">
                <div class="card-header fs-5 text-center">Filteri</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cijena</li>
                        <li class="list-group-item">Kategorija</li>
                        <li class="list-group-item">Proizvođač</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="p-0 px-md-2 col-md-8 mt-4 mt-md-0">
            <h4>Pretražili ste:</h4>
            <hr />
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a asp-controller="Products" asp-action="ProductDetails" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a asp-controller="Products" asp-action="ProductDetails" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a asp-controller="Products" asp-action="ProductDetails" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a href="#" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a href="#" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Product title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center p-2 pe-3">
                            <a href="#" class="btn btn-sm btn-primary">Details</a>
                            <small class="text-body-secondary">$9.99</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>