


<head>
    <title>Korpa</title>
</head>

<body>

    <div class="container mt-5">
        
        <div class="row">

            <div class="col-lg-8">
                <div class = "row">
                    <div class="col-5">
                        Proizvod
                    </div>
                    <div class="col-2">
                        Cijena
                    </div>
                    <div class="col-2">
                        Količina
                    </div>
                    <div class="col-2">
                        Ukupno
                    </div>
                </div>
                <hr />
                <div class="row align-items-center mb-4">
                    <div class="col-5">
                        <img src="https://placehold.co/70x70" class="img-fluid" alt="...">
                        <span>Primjer imena proizvoda</span>
                    </div>
                    <div class="col-2">
                        23.00KM
                    </div>
                    <div class="col-2">
                        <input type="number" style="width:50%;" min="1" value="1"/>
                    </div>
                    <div class="col-2">
                        23.00KM
                    </div>
                    <div class="col-1">
                        <button type="button" class="close border-0 bg-white btn-lg"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-5">
                        <img src="https://placehold.co/70x70" class="img-fluid" alt="...">
                        <span>Primjer imena proizvoda2</span>
                    </div>
                    <div class="col-2">
                        23.00KM
                    </div>
                    <div class="col-2">
                        <input type="number" aria-label="Small" style="width:50%;" min="1" value="1" />
                    </div>
                    <div class="col-2">
                        23.00KM
                    </div>
                    <div class="col-1">
                        <button type="button" class="close border-0 bg-white btn-lg"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            

            </div>
            <div class="col-lg-1 d-none d-md-flex">
                <div class="vr mx-auto"></div>
            </div>

            <div class="col-lg">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ukupni iznos korpe</h5>
                        <hr />
                        <div style="display:flex; justify-content:space-between">
                            <div>Ukupno</div>
                            <div>23.00KM</div>
                        </div>
                        <div style="display:flex; justify-content:space-between">
                            <div>Dostava</div>
                            <div>8.00KM</div>
                        </div>
                        <small>Dostava je <b>besplatna</b> za narudžbe preko 50KM.</small>

                        <hr />
                        <div style="display:flex; justify-content:space-between">
                            <h5>Ukupno za platiti: </h5>
                            <div>31.00KM</div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Kupi sad</button>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    


</body>