<div class="container container-fluid">

    <div class="row mt-3">
        <partial name="_MyAccMenu" />

		<div class="col-11 col-md-9">
            <h3 class="text-center mt-3">Narudžbe</h3>
            <hr />

			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th scope="col">Broj narudžbe</th>
							<th scope="col">Datum</th>
							<th scope="col">Iznos</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						<tr>
							<th scope="row">#00000</th>
							<td>03.05.2023.</td>
							<td>$3143</td>
							<td>
								<a class="btn btn-primary float-end">Detalji</a>
							</td>
						</tr>
						<tr>
							<th scope="row">#00000</th>
							<td>03.05.2023.</td>
							<td>$3143</td>
							<td>
								<a class="btn btn-primary float-end">Detalji</a>
							</td>
						</tr>
						<tr>
							<th scope="row">#00000</th>
							<td>03.05.2023.</td>
							<td>$3143</td>
							<td>
								<a class="btn btn-primary float-end">Detalji</a>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>