@model ICollection<Order>

<div class="container container-fluid">

    <div class="row mt-3">
        <partial name="_MyAccMenu" />

		<div class="col-md-9">
            <h3 class="text-center mt-3">Narudžbe</h3>
            <hr />

			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th scope="col">Broj narudžbe</th>
							<th scope="col">Datum</th>
							<th scope="col">Iznos</th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						@foreach(var item in Model)
						{
							<tr>
								<th scope="row">#@item.Id</th>
								<td>@item.OrderDate</td>
								<td>@item.Price KM</td>
							</tr>
						}
					</tbody>
				</table>
            </div>
        </div>
    </div>
</div>