<div class="container container-fluid">
    <div class="row mt-3">

        <partial name="_MyAccMenu" />

		<div class="col-md-9">
            <h3 class="text-center mt-3">Wishlist</h3>
            <hr />

			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th scope="col">Proizvod</th>
							<th scope="col">Cijena</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						<tr>
							<td scope="row">
								<img src="https://placehold.co/100x100" alt="..." />
								<span class="ms-2">Proizvod 1</span>
							</td>
							<td>$3143</td>
							<td>
								<span class="float-end">
									<a class="btn btn-primary">Dodaj u korpu</a>
									<a class="btn btn-danger">Izbaci</a>
								</span>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img src="https://placehold.co/100x100" alt="..." />
								<span class="ms-2">Proizvod 2</span>
							</td>
							<td>$3143</td>
							<td>
								<span class="float-end">
									<a class="btn btn-primary">Dodaj u korpu</a>
									<a class="btn btn-danger">Izbaci</a>
								</span>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img src="https://placehold.co/100x100" alt="..." />
								<span class="ms-2">Proizvod 3</span>
							</td>
							<td>$3143</td>
							<td>
								<span class="float-end">
									<a class="btn btn-primary">Dodaj u korpu</a>
									<a class="btn btn-danger">Izbaci</a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>