@model IEnumerable<Product>

<div class="container container-fluid">
    <div class="row mt-3">

        <partial name="_MyAccMenu" />

		<div class="col-md-9">
            <h3 class="text-center mt-3">Wishlist</h3>
            <hr />

			<div class="table-responsive">
				<table class="table table-hover align-middle">
					<thead>
						<tr>
							<th scope="col">Proizvod</th>
							<th scope="col">Cijena</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						@foreach(var prod in Model)
						{
							<tr>
								<td scope="row">
									<img src="https://placehold.co/100x100" alt="..." />
									<span class="ms-2">@prod.Manufacturer @prod.Model</span>
								</td>
								<td>$@prod.Price</td>
								<td>
									<span class="float-end">
										<a class="btn btn-primary" onclick="AddToCart()">Dodaj u korpu</a>
										<a class="btn btn-danger" onclick="RemoveFromFavorites()">Izbaci</a>
										<input id="remove-id" type="hidden" value="@prod.Id">
									</span>
								</td>
							</tr>			
						}	
					</tbody>
				</table>
			</div>
        </div>
    </div>
</div>

<script>

	async function RemoveFromFavorites(){
		const tableRow = event.target.parentNode.parentNode.parentNode;
		tableRow.parentNode.removeChild(tableRow);

		const td = event.target.parentNode;

		const prodId = td.querySelector('#remove-id').value;

		const parameters = new URLSearchParams();
		parameters.append("id", prodId.toString());

		const url = "/MyAccount/DropFromFavorites?" + parameters.toString();
		const result = await fetch(url)
			.then(response => response.json());

		console.log(result);
	}

	async function AddToCart(){
		const td = event.target.parentNode;
		const prodId = td.querySelector('#remove-id').value;

		const parameters = new URLSearchParams();
		parameters.append("id", prodId.toString());
		const url = "/Products/AddToCart?" + parameters.toString();
		const result = await fetch(url)
			.then(response => response.json());

		console.log(result);
	}


</script>