@{
    ViewData["Title"] = "Register";
}
<div class="container mt-5 mb-4">
    <div class="row gy-5 justify-content-center">
        <div class="col-md-5">
            <h2>Prijava</h2>
            <hr />
            <p>Prijavite se i upravljajte Vašim računom na našem WebShopu.</p>

            <form>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Korisničko ime</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="" />
                </div>

                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Lozinka</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="" />
                </div>

                <button type="submit" class="btn btn-primary">Prijava</button>
            </form>

        </div>
        <div class="col-md-1 d-none d-md-flex">
            <div class="vr mx-auto"></div>
        </div>
        <div class="col-md-5">
            <h2>Registracija</h2>
            <hr />
            <p>Registrujte se da biste vidjeli popuste i pogodnosti koje Vam nudimo.</p>
            <form>
                <div class="mb-3">
                    <label for="usernameInputNew" class="form-label">Korisničko ime</label>
                    <input type="text" class="form-control" id="usernameInputNew" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">E-mail</label>
                    <input type="text" class="form-control" id="emailInput" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="passwordInputNew" class="form-label">Lozinka</label>
                    <input type="password" class="form-control" id="passwordInputNew" placeholder="" />
                </div>
                <div class="mb-3">
                    <label for="passwordRepeat" class="form-label">Ponovljena lozinka</label>
                    <input type="password" class="form-control" id="passwordRepeat" placeholder="" />
                </div>
                <button type="submit" class="btn btn-primary">Registracija</button>
            </form>
            <h5 class="mt-4">Registrujte se danas i bićete u mogućnosti da:</h5>
            <ul>
                <li>Olakšate i ubrzate proces kupovine</li>
                <li>Budete nagrađeni za vašu kupovinu HavenCoins-ima</li>
                <li>Ostvarite popuste i ostale pogodnosti</li>
            </ul>
        </div>
    </div>
</div>
